<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <ul>
    {{#each deps}}
    <li>{{@key}} - {{this}}</li>
    {{/each}}
  </ul>
</body>

</html>